/* === Google Font === */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

/* === Global CSS === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* === Home === */
.Home {
  margin: 100px;
}

.home-img img {
  width: 1000px;
  height: 350px;
}

/* === Navbar === */
.logo {
  font-family: 'Grand Hotel', cursive;
}

/* === Login === */
.Login {
  padding: 150px 0;
}

.login-link {
  color: #212529;
  text-decoration: none;
}

/* === Signup === */
.Signup {
  padding: 150px 0;
}

/* === Profile === */
.Profile {
  padding: 150px 0;
}

.profile-img img {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-gallery img {
  height: 300px;
  width: 250px;
}
